.page {
    /* border: 1px solid red; */
}
.header {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.avatar {
  width: clamp(200px, 20vw, 350px);
  height: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: var(--radius-small);
  background: var(--bg-l);
  align-self: center;
  margin-top: 1rem;
}
.name {
    /* margin: 0.5em 0; */
}

.detailsContainer {
  /* padding: 0 5%; */
}
.birthday,
.placeOfBirth {
    padding: 0 5%;
    font-size: var(--fs-sm);
    opacity: 0.95;
}
.placeOfBirth {
  
}


.bioContainer {
  margin-top: 1rem;
  max-width: 70ch;
  padding: 1rem 5%;
  height: fit-content;
  max-height: 250px;
  border: 17px inset var(--clr-primary);
  border-left: none;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  border-top-right-radius: var(--radius-small);
  border-bottom-right-radius: var(--radius-small);
  background: var(--clr-bg-alt);
}
.bio {
  /* height: 20px; */
  
}
.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.toggleBio {
  margin-top: 1rem;
}
.toggleBio:hover {
  text-decoration: underline;
}


