.page {
  min-height: 100vh;
}
.mainContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}
/* .textContainer {
  
} */

.imgContainer {
  /* border: 5px solid purple; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar {
  width: clamp(200px, 20vw, 350px);
  height: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: var(--radius-small);
  background: var(--bg-l);
  align-self: center;
  margin-top: 1rem;
  
}

.birthday,
.placeOfBirth {
    padding: 0 5%;
    font-size: var(--fs-sm);
    opacity: 0.8;
}

.bioContainer {
  margin-top: 1rem;
  max-width: 70ch;
  padding: 1rem 5%;
  height: fit-content;
  max-height: 300px;
  border: 11px inset var(--clr-primary);
  border-left: none;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  border-top-right-radius: var(--radius-small);
  border-bottom-right-radius: var(--radius-small);
  background: var(--clr-bg-alt);
  box-shadow: var(--shadow-card);
}

.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.toggleBio {
  margin-top: 1rem;
}

h3 {
  margin: var(--pd-title);
}

/* @media (width >= 768px) {
  .mainContainer {
    flex-direction: row-reverse;
  }
} */


@media (width >= 750px) {
 .mainContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
 }
 .textContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
 }
 .bioContainer {
    max-height: 210px;
    /* max-width:70ch; */
 }
 /* .bio {
  
 } */
 .imgContainer {
    flex: 1;
    max-width: 30vw;
    
 }
 .avatar {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
 }

}
