.page {
  min-height: 100vh;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar {
  width: clamp(200px, 20vw, 350px);
  height: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: var(--radius-small);
  background: var(--bg-l);
  align-self: center;
  margin-top: var(--space-l);
}

.birthday,
.placeOfBirth {
    padding: 0 5%;
    font-size: var(--fs-sm);
    opacity: 0.8;
}

.bioContainer {
  margin-top: var(--space-m);
  max-width: 70ch;
  padding: var(--space-l) 5%;
  height: fit-content;
  max-height: 320px;
  border: 3px inset var(--clr-primary);
  border-left: none;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  border-top-right-radius: var(--radius-large);
  border-bottom-right-radius: var(--radius-large);
  background: var(--clr-bg-alt);
  box-shadow: var(--shadow-card);
}

.clamped {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.toggleBio {
  margin-top: var(--space-m);
}

h3 {
  margin: var(--pd-title);
}


@media (width >= 750px) {
 .mainContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
 }
 .textContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .bioContainer {
    max-height: 220px;
 }
 .imgContainer {
    flex: 1;
    max-width: 30vw;
 }
 .avatar {
    width: 100%;
    height: 100%;
    margin-top: 0;
 }

}
