.searchContainer {
    position: relative;
    /* border: 1px solid red; */
}
.input {
  padding: 0.4rem 1.2rem;
  border-radius: var(--radius-large);
  border: 2px solid var(--clr-primary);
  
  /* width: 50vw; */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--clr-bg);
  border-radius: var(--radius-large);
  margin-top: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  z-index: 2000;
}

.item {
  width: 100%;
  padding: var(--pd-button);
  cursor: pointer;
  background: transparent;
  border-radius: var(--radius-small);
  transition: var(--transition);
  font-size: var(--fs-sm);
  display: flex;
  align-items: center;
}
.item[data-focus] {
  background: var(--clr-hover);
}
.item[data-selected] {
  font-weight: 500;
}
.item:hover {
  background: var(--clr-hover);
}

.title {
  max-height: 35px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.year {
  font-size: var(--fs-xs);
  opacity: 0.5;
}

.coverContainer {
  max-width: 30px;
  width: 25px;
  height: auto;
}
.coverContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.separator {
  height: 1px;
  background: rgba(77, 77, 77, 0.3);
}




/* ANIMATION SEARCHBAR ENTRY & EXIT  */
/* ENTER */
.enter {
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.enterFrom {
  opacity: 0;
  transform: translateY(-10px);
}
.enterTo {
  opacity: 1;
  transform: translateY(0);
}

/* LEAVE */
.leave {
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leaveFrom {
  opacity: 1;
  transform: translateY(0);
}
.leaveTo {
  opacity: 0;
  transform: translateY(-10px);
}