footer {
  width: 100%;
  height: 10vh;
  color: var(--clr-text-d);
  background: var(--clr-primary);
  z-index: 16;
  font-size: var(--fs-xs);
  display: flex;
  align-items: center;
  margin-top: 7vh;
}
.footerWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
footer span {
  opacity: 0.9;
}
footer a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footerLeft {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.footerRight {
  gap: 0.7rem;
  display: flex; 
  align-items: center;
}

