footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  color: var(--bg-ll);
  background: var(--clr-primary);
  z-index: 16;
  font-size: var(--fs-xs);
  display: flex;
  align-items: center;
}
.footerWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid; */
}
footer a {
    color: var(--bg-ll);
}
.footerLeft {
  display: flex;
  flex-direction: column-reverse;
}

.footerRight {
   width: 75px;
   display: flex;
   justify-content: space-between;
}
.footerRight a {
  height: 100%;
  display: flex;
  align-items: center;
}
.footerRight img {
  width: clamp(28px, 2vw, 30px);
}
