.header {
    border-bottom: 1px solid;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    /* border: 1px solid blue; */
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

h1 {
    /* border: 1px solid red; */
    font-size: var(--fs-small);
    color: var(--clr-text);
    
}

.iconButton, a {
    all: unset;
    height: 24px;
    cursor: pointer;
}
.searchOverlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-bg);
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(120px, 25%, 130px);
}