.header {
    border-bottom: 1px solid;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    /* border: 1px solid blue; */
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

h1 {
    border: 1px solid red;
    font-size: var(--fs-small);
}