.searchContainer {
    /* border: 1px solid rgb(0, 68, 255); */
    width: fit-content;
}
form {
    display: flex;
}
form input {
   flex: 5;
   width: clamp(120px, 150px, 40% );
   height: 6vh;
}
form button {
    border-radius: 0px;
    height: 6vh;
    flex: 1;
}


