.header {
    border-bottom: 2px solid var(--clr-border);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    border: 1px solid blue;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;


    z-index: 2000;
}
.searchOverlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-bg);
    


    transform-origin: top;
    will-change: opacity, transform;
}
.iconButton, a {
    all: unset;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
    border: 1px solid white;
}



