.header {
    border-bottom: 2px solid var(--clr-border);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: var(--clr-bg);
}

.navbar {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.logo {
  flex: 0;
}
.right {
    flex: 1;
    display: flex;
    justify-content: right;
}

.searchOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--clr-bg);
}
.iconButton, 
a {
    all: unset;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;
    transition: var(--transition);
}
.closeBtn {
    position: absolute;
    right: 0;
    transition: var(--transition);
}
.iconButton:hover,
.closeBtn:hover {
    background-color: var(--clr-hover);
    border-radius: var(--radius-max);
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
    width: clamp(130px, 25%, 170px);
}



