.header {
    border-bottom: 1.5px solid var(--clr-border);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    /* border: 1px solid blue; */
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    
}

.iconButton, a {
    all: unset;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.searchOverlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--clr-bg);
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(120px, 25%, 130px);
    transition: var(--transition);
}