.header {
    border-bottom: 2.5px inset var(--clr-bg-alt);
    /* border: 1px solid red; */
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}


.header button {
    /* border: 1px solid rgb(208, 255, 0); */
    border: none;
}

