footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: #f5f5e9;
  padding: 0.5em;
  z-index: 16;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
    color: #f5f5e9;
}

.socials {
    margin-right: 2vw;
    display: flex;
    align-items: center;
}
.socials img {
  width: 22px;
}
.pedro {
  margin-right: 3vw;
}

@media (min-width: 768px) {
  .socials img {
    width: 27px;
  }
  .pedro {
    font-size: 0.9rem;
  }
}