.initPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
}
.mainContainer {
    font-size: 1rem;
    text-align: center;
    position: relative;
    bottom: 5vh;
}
.mainContainer svg {
    width: 247px;
}
.textLoading {
    font-weight: 900;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.initPage::-webkit-scrollbar {
  display: none;
}