.movieRow {
    gap: 1em;
    background-color: #8f1919;
    background-image: 
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.03) 0 1px, transparent 10px 4px),
    repeating-linear-gradient(-45deg, rgba(255,255,255,0.03) 0 1px, transparent 10px 8px);
    position: relative;
    top: 25vh;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    overflow-x: auto;
    padding: 1em 0.4em;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    width: 100vw

}

.movieRow > * {
    flex: 0 0 clamp(130px, 20vw, 220px);
    height: clamp(230px, 30vw, 390px);
    scroll-snap-align: center;
}

