.summary_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 101vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: none; 
  z-index: 20;
}

.summary {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas:
    "img"
    "title"
    "rating"
    "release"
    "overview";
  align-items: stretch;
  width: 85%;
  min-height: 100vh;
  padding: 0.5em 7vw;
}

.summary img {
  grid-area: img;
  width: 74%; 
  max-height: 180px;     
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  padding-top: 50px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.summary h3 {
  grid-area: title;
  width: 70%;
  text-align: center;
  max-height: fit-content;
  margin: 0 auto;
  padding-top: 0.5em;
  font-size: clamp(1.4rem, 3vw, 1.6rem);
}

.releaseDate,
.rating {
  width: 100%;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  padding-left: 1em;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.rating {
  grid-area: rating;
  margin-top: 2em;
}

.releaseDate {
  grid-area: release; 
}

.overviewContainer {
  grid-area: overview;
  text-align: justify;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  padding: 0 1.2em 1em 1.1em;
  margin-top: 2.2em;
}
.overviewContainer h4 {
  font-weight: 900;
}

.overview {
  margin-top: 5px;
}

.summary button {
  position: fixed;
  z-index: 100;
  top: 5vh;
  right: 7vw;
  width: clamp(2.3em, 2.8em, 5em);
  cursor: pointer;
  background-color: #f5f5e9;
  border: 2px solid #1d1814;
  color: #1d1814;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.summary button:hover {
  background-color: #8f1919;
  border-color: #8f1919;
  color: #f5f5e9;
  scale: 1.1;
}
.summary button:active {
  scale: 0.9;
}
/* ---------- */
@media (width >= 1024px) {
  .summary {
    padding: 0.7em 15vw;
  }
}
@media (width >= 1800px) {
  .summary {
    padding: 1em 20vw;
  }
}