.searchForm {
    margin: 0 auto;
    position: relative;
    top: 15vh;
}

.searchForm label {
    display: flex;
    align-items: center;
}

.searchForm button {
    background: none;
    border: none;
    position: absolute;
    right: 0;
}
.searchForm input {
    height: 45px;
    padding: 0.5em 2.2em 0.5em 1em;
    border: 2.5px solid #8f1919;
    border-radius: 20px;
    width: 70vw;
    font-size: 1.1rem;
}

.searchIcon {
    width: 17px;
    opacity: 0.5;
    margin-right: 0.3em;
}