.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 140px));
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 2vh 0 2vh 2.5%;
  scroll-behavior: smooth;
  scrollbar-width: none;       
  -ms-overflow-style: none;   

  scroll-snap-type: x proximity;  
  scroll-padding-left: 2.5%;

  /* prevent weird vertical scroll interference on mobile */
  touch-action: pan-x;
  -webkit-overflow-scrolling: touch;  
}
.row::-webkit-scrollbar {
  display: none;              
}


@media (hover: none) and (pointer: coarse) {
  .row {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .row::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(125px, 135px));
    gap: 2rem;
  }
}


 