.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(118px, 120px));
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  /* border: 1px solid rgb(48, 28, 224); */
  /* height: 40vh; */
  gap: 1rem;
  overflow-x: auto;
  padding: 0 0 0 2.5%;
}


 