.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.row {
  display: flex;
  border: 1px solid rgb(48, 28, 224);
  gap: 1rem;
  overflow-x: auto;
}

