.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(118px, 120px));
  justify-content: center;
}

.row {
  display: flex;
  /* border: 1px solid rgb(48, 28, 224); */
  /* height: 40vh; */
  gap: 1rem;
  overflow-x: auto;
  padding: 2vh 0 3vh 2.5%;
}

.movieList h2 {
  padding: 7vh 0 2vh 5%;

}
 