.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 125px));
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 160px));
    gap: 3rem;
  }
}

.row {
  display: flex;
  gap: clamp(1rem, 1.5rem, 2rem);
  overflow-x: auto;
  padding: 2vh 0 2vh 2.5%;

  scroll-behavior: smooth;
  scrollbar-width: none;       
  -ms-overflow-style: none;   
  scroll-snap-type: x proximity;  
  scroll-padding-left: 2.5%;
  /* prevent weird vertical scroll interference on mobile */
  touch-action: auto;
  -webkit-overflow-scrolling: touch;  
}
.row::-webkit-scrollbar {
  display: none;              
}


.scrollContainer {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: clip;
}
.scrollButton {
  all: unset;
  position: absolute;
  z-index: 10;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--clr-text);
  transition: var(--transition);
  opacity: 0;
}
.scrollButton:hover {
  transform: scale(1.7);
}
.scrollButton:active {
  transform: scale(0.95);
}
.scrollButton:last-of-type {
  right: 10px;
}
.scrollContainer:hover .scrollButton {
  opacity: 1;
}

.leftAtEnd {
  width: fit-content;
  position: absolute;
  left: 0;
}

/* title + sortSelect  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}






 