.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  margin-bottom: var(--space-m);
}

.filters {
  padding: var(--pd-normal);
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

@media (width >= 448px) {
  .filters {
    flex-direction: row;
    gap: var(--space-m);
  }
}

.goTopBtn {
  border-color: unset;
  border-color: var(--clr-muted);
  position: fixed;
  top: 50%;
  left: 2.5%;
}
.goTopBtn:hover {
  background: var(--clr-hover);
  transform: scale(1.1);
}
.goTopBtn:active {
  background-color: var(--clr-muted);
}