
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  margin-bottom: 2vh;
}

.filters {
  padding: var(--pd-normal);
  display: flex;
  gap: 1rem;
  margin-bottom: 2vh;
  flex-wrap: wrap;
}