.toggleButton {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.toggleButton:focus {
  outline: none ;
}


