*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.app-flex {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #f5f5e9;
}

.introduction {
  /* border: 1px solid; */
  margin: 0 auto;
  position: relative;
  top: 8vh;
  opacity: 0.8;
  text-shadow: 0px 12px 2px #8f1919;
}

.loading-animation {
  position: relative;
  top: 20vh;
}

/*-------------- FAVORITE PAGE ---------- */

.favorites-page {
  position: fixed;
  z-index: 10;  /*summary -> 20 zIndex */
  background-color: #f5f5e9;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.favorites-section h2 {
  padding-left: 0.3em;
  font-size: 1.4rem;
  position: relative;
  top: 3vh;
}
.favorites-section button {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px;
  width: clamp(2.3em, 2.8em, 5em);
  cursor: pointer;
  background-color: #f5f5e9;
  border: 2px solid #1d1814;
  color: #1d1814;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.favorites-section button:hover {
  background-color: #8f1919;
  border-color: #8f1919;
  color: #f5f5e9;
  scale: 1.15;
}
.favorites-section button:active {
  scale: 0.9;
}

/* ------------TOUCH DEVICE ---------- */
.favorites-guide {
  font-size: 0.9rem;
  position: relative;
  top: 30vh;
  opacity: 0.8;
  text-shadow: 0px 12px 2px #8f1919;
  width: 100%;
  text-align: center;
}