.movieCard {
    min-width: 120px;
    cursor: pointer;
    border: 1.5px solid var(--clr-card-border);
    border-radius: var(--radius-small);
    background: var(--clr-card);
    /* transition: var(--transition); */
    box-shadow: var(--shadow-card-smooth);
    padding: 2.5px;
}

.movieCard.saved {
    border-color: var(--clr-primary);
}

/* .movieCard:hover {
    box-shadow: var(--shadow-inverse);
} */
.movieCard img {
    width: 100%;
    height: 177px;
    border-top-left-radius: var(--radius-small);
    border-top-right-radius: var(--radius-small);
} 
.dateAndRate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-xs);
    padding: var(--pd-movieCard);
    color: var(--clr-muted);
}


/* SEE MORE CARD  */
.seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-card);
  border: 1.5px dashed var(--clr-border);
}
.seeMoreContent {
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--clr-muted);
  text-align: center;
}
.seeMoreContent p {
  font-size: var(--fs-xs);
  font-weight: 600;
}
